h1 New User

form(method='POST',action='/users')
    p Name:
        input#name(type='text',name='name')
    p Email:
        input#name(type='email',name='email')
    p Age:
        input#name(type='number',name='age')

    p: button(type='submit') Create